@inject JavaScriptEncoder javaScriptEncoder
@model MemberListResponseDto
@{
    ViewData["Title"] = "Member list";
    var requestUrl = $"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}"; 
}

<div class="container-fluid">
    <div class="row head-border-bottom">
            <div class="col-12 ">
                <h3>Manage members</h3>
            </div>
    </div>
</div>
<div class="container-fluid list-container">
 
    <div class="row pt-2">
        <div class="col-12 text-end">
            <div>
                <a asp-area="Club" asp-controller="Member" asp-action="Upsert" type="button" class="btn btn-primary">
                    <i class="fa fa-plus mr-1"></i>
                    Add new
                </a>
                <a id="evtFilterButton" class="btn btn-primary" data-bs-toggle="collapse" href="#collapseFilter" role="button" aria-expanded="false" aria-controls="collapseFilter">
                    Filter<span id="filterBadge" class="badge badge-light"></span>
                </a>
            </div>
        </div>
    </div>
    <!-- Start filter panel-->
    <div class="container-fluid">
        <div class="row pt-2">
            <div class="col-12 text-start">
                <div class="collapse" id="collapseFilter">
                    <form method="get" class="form-inline">
                            <input  class="form-control-filter w-25" asp-for="FilterByName" id="FilterByName" name="FilterByName" type="input" placeholder="Name..." />
                            <input  class="form-control-filter w-25" asp-for="FilterById" id="FilterById" name="FilterById" type="input" placeholder="Id..." />
                            <button class="button-as-text-list" data-spinning-button type="submit" class="btn"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- End filter panel-->
    <!-- Heading panel-->
    <div class="container-fluid list-panel">
        <div class="row h5 list-row-heading p-2">
             <div class="col-sm-1">
            </div>
            <div class="col-sm-4">
                ID
                <a asp-area="Club" asp-controller="Member" asp-action="List" asp-route-OrderBy="Id_asc"><i class="fa fa-arrow-down"></i></a>
                <a asp-area="Club" asp-controller="Member" asp-action="List" asp-route-OrderBy="Id_desc"><i class="fa fa-arrow-up"></i></a>
            </div>
            <div class="col-sm-3">
                Name
                <a asp-area="Club" asp-controller="Member" asp-action="List" asp-route-OrderBy="Name_asc"><i class="fa fa-arrow-down"></i></a>
                <a asp-area="Club" asp-controller="Member" asp-action="List" asp-route-OrderBy="Name_desc"><i class="fa fa-arrow-up"></i></a>
            </div>
            <div class="col-sm-3">
                Gender
                <a asp-area="Club" asp-controller="Member" asp-action="List" asp-route-OrderBy="Gender_asc"><i class="fa fa-arrow-down"></i></a>
                <a asp-area="Club" asp-controller="Member" asp-action="List" asp-route-OrderBy="Gender_desc"><i class="fa fa-arrow-up"></i></a>
            </div>
            <div class="col-sm-1">
                Options
            </div>
        </div>
        <!-- End heading panel-->
        @foreach (var item in Model.Members)
        {
             <!-- List main row -->
            <div class="row list-row">
                <div class="col-sm-1">
                    <span class="list-subhead"></span><img src='@Url.Content($"~/images/{@item.PhotoUrl.NullIfWhiteSpaceExt() ?? "noimage.jpg"}")' class="img-fluid rounded-circle p-1">
                 </div>
                <div class="col-sm-4 evt-list-col-more text-truncate">
                    <span class="list-subhead">ID:</span>@item.Id
                </div>
                <div class="col-sm-3 text-truncate">
                    <span class="list-subhead">Name:</span>@item.Name
                </div>
                <div class="col-sm-3 text-truncate">
                    <span class="list-subhead">Gender:</span>@item.Gender
                </div>
                <div class="col-sm-1">
                    <!-- Options -->
                    <div class="btn-group">
                        <button type="button" class="btn  " data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-ellipsis-v"></i>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" asp-area="CLub" asp-controller="Member" asp-action="Upsert" asp-route-id="@item.Id">Edit</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <form id="list-delete" asp-action="Delete" asp-route-id="@item.Id" method="post">
                                    <button type="submit" 
                                            class="btn btn-link text-decoration-none text-danger evt-menu-delete"
                                            data-body-message="Are you sure you want to delete member @javaScriptEncoder.Encode(item.Name)?"
                                            data-redirect-after="@requestUrl">
                                        Delete
                                    </button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Additional information -->
            <div class="row list-row-more">
                <div class="col-sm-12">
                        <span class="list-row-more-col">Created on:&nbsp;</span>@item.CreatedOn.ToStringBlankExt()&nbsp;
                        <span class="list-row-more-col">Created by:&nbsp;</span>@item.CreatedBy&nbsp;
                        <span class="list-row-more-col">Updated on:&nbsp;</span>@item.UpdatedOn.ToStringBlankExt()&nbsp;
                        <span class="list-row-more-col">Updated by:&nbsp;</span>@item.UpdatedBy&nbsp;
                </div>
            </div>
        }
        <!-- Start pagination -->
        <div class="row">
            <div class="col-12">
                <partial name="_pagination" for="PaginationMetaData" />
            </div>
        </div>
        <!-- End pagination -->
    </div>
</div>
<div asp-validation-summary="All" class="text-danger"></div>

